@use '../utils';
@use '../typography';

.compare {
  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 8px;
    @extend %h2;
    color: utils.$c_dark-brown;
  }

  &__text {
    margin-bottom: 42px;
  }
}
