@use '../utils';
@use '../_typography';

.personalize {
  overflow: hidden;
  text-align: center;

  &__title {
    margin-bottom: 16px;
    @extend %h2;
    color: utils.$c_dark-brown;
  }

  &__text {
    margin-bottom: 42px;
  }

  &__slider {
    overflow: visible;
  }

  &__slide {
    display: block;
    width: 100%;
    max-width: 386px;
    aspect-ratio: 1;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;

    &:hover {
      cursor: grab;
    }
  }
}
