@use 'utils';

%main-text {
  font-family: Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
  @include utils.adaptive-value('font-size', 24, 18);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
}

%secondary-text {
  @include utils.adaptive-value('font-size', 18, 16);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
}

%tertiary-text {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
}

%tech-list-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
}

%large-text {
  @include utils.adaptive-value('font-size', 32, 24);
  font-weight: 500;
  @include utils.adaptive-value('line-height', 42, 32);
  letter-spacing: 0%;
}

%footer-text {
  @include utils.adaptive-value('font-size', 20, 18);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
}

%copyright-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0%;
}

%h1 {
  @include utils.adaptive-value('font-size', 180, 60);
  font-weight: 600;
  @include utils.adaptive-value('line-height', 172, 42);
  letter-spacing: 0%;
}

%h2 {
  @include utils.adaptive-value('font-size', 56, 42);
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0%;
}

%h2-large {
  @include utils.adaptive-value('font-size', 86, 60);
  font-weight: 600;
  @include utils.adaptive-value('line-height', 120, 80);
  letter-spacing: 0%;
}

%h2-small{
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0%;
}

%h3 {
  @include utils.adaptive-value('font-size', 42, 24);
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0%;
}

%link-text {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0%;
}
